* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Elementi comuni */
body{
    background-color: black;
    font-family: Arial, sans-serif;
}
header{
    height: 50px;
}
main{
    height: calc(100vh - 140px);
    overflow-y: auto;
    margin: 20px 0px 10px 0px;
}
footer{
    height: 80px;
    background-color: rgb(55, 55, 55);
    position: fixed;
    z-index: 1;
    width: 100%;
}
/* classi di layout */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-footer{
    max-width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* colonne */
.col-15{
    width: calc(100% / 7);
    min-width: 100px;
    aspect-ratio: 16/9;
}
.col-10{
    width: 10%;
}
.col-30{
    width: 30%;
}
.col-60{
    width: 60%;
}
.col-100{
    width: 100%;
}
/* content  */
.content{
    padding: 10px;
}
.content-main{
    margin: 3px;
    position: relative;
}
.content-footer{
    display: flex;
    text-align: center;
    color: white;
    padding: 13px;
}
/* classi di stile  */
/* generiche  */
.labels{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
}
.label{
    padding: 5px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}
.label-name{
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 0px;
    color: white;
    padding: 5px;
    background-color: rgba(172, 172, 172, 0.354);
}
/* selettori composti  */
.content-main img{
    width: 100%;
}
.content-footer i{
    margin: 0px 5px;
}
.col-60 .content-footer .fs-25{
    margin: 0px 20px;
}
.content-footer .fa-angle-up{
    margin-top: 15px;
}
/* background e colori  */
.bg-darkgrey{
    background-color: rgb(70, 70, 70);
}
.bg-grey{
    background-color: rgb(97, 97, 97);
}
.red{
    color: red;
}
.green{
    color: green;
}
/* margin */
.mr-5{
    margin-right: 5px;
}
.mt-5{
    margin-top: 5px;
 }
.mt-10{
   margin-top: 10px;
}
.ml-15{
    margin-left: 15px;
}
/* text  */
.text-right{
    text-align: right;
}
.fa-angle-up{
    font-size: 10px;
}
.fs-10{
    font-size: 10px;
}
.fs-25{
    font-size: 25px;
}

